.about{
    /* border: 2px solid red; */
    margin: 50px 0;
}
.about-title{
    text-decoration: underline;
    margin-bottom: 15px;
    color: black;
    font-weight: 400;
    font-size: 1.8em;
}
.about-text{
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 2% 5%;
    padding: 3%;
    text-align: start;
    font-size: 1.2em;
    border-radius: 20px;
}
