.contact-container-page{
    /* border: 1px solid green; */
    margin: 50px 0;
}
.contact-title{
    text-decoration: underline;
    margin-bottom: 15px;
    color: black;
    font-weight: 400;
    font-size: 1.8em;
}
.contact-text{
    width: 80%;
    margin: auto;
    font-size: 1.2em;
}
.form-profils{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
}

.form-box {
    /* border: 1px solid yellow; */
    width: 40%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px;
  }
  
  .send-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .send-btn:hover {
    background-color: #0056b3;
  }
  .face-insta-box{
    /* border: 1px solid green; */
    width: 40%;
    background-color: white;
    border-radius: 10px;

  }
  .btn-icons-contact{
    background-color: transparent;
    border: 0;
    color: #007bff;
  }
  .profil{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
