footer{
    width: 100%;
    background-color:  #0f172a;
    display: flex;
    padding: 2% 5%;
    color: white;
}
.list-footer{
    display: flex;
    flex-direction: column;
}
.ul-title{
    text-decoration: underline;
    font-weight: 400;
    color: yellow;
}
ul li{
    font-weight: 300;
}
.icons-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20%;
}
.icons-footer, .categories{
    border-left: 1px solid white;
    padding-left: 15px;
}
